aiohappyeyeballs==2.4.3 ; python_full_version == "3.12.7"
aiohttp==3.10.10 ; python_full_version == "3.12.7"
aiosignal==1.3.1 ; python_full_version == "3.12.7"
annotated-types==0.7.0 ; python_full_version == "3.12.7"
anyio==4.6.2.post1 ; python_full_version == "3.12.7"
asyncpg==0.30.0 ; python_full_version == "3.12.7"
attrs==24.2.0 ; python_full_version == "3.12.7"
bcrypt==4.2.0 ; python_full_version == "3.12.7"
click==8.1.7 ; python_full_version == "3.12.7"
colorama==0.4.6 ; python_full_version == "3.12.7" and platform_system == "Windows"
fastapi==0.115.4 ; python_full_version == "3.12.7"
frozenlist==1.5.0 ; python_full_version == "3.12.7"
h11==0.14.0 ; python_full_version == "3.12.7"
idna==3.10 ; python_full_version == "3.12.7"
multidict==6.1.0 ; python_full_version == "3.12.7"
propcache==0.2.0 ; python_full_version == "3.12.7"
psycopg2-binary==2.9.10 ; python_full_version == "3.12.7"
pydantic-core==2.23.4 ; python_full_version == "3.12.7"
pydantic==2.9.2 ; python_full_version == "3.12.7"
pyjwt==2.9.0 ; python_full_version == "3.12.7"
redis==5.2.0 ; python_full_version == "3.12.7"
sniffio==1.3.1 ; python_full_version == "3.12.7"
starlette==0.41.2 ; python_full_version == "3.12.7"
typing-extensions==4.12.2 ; python_full_version == "3.12.7"
uvicorn==0.32.0 ; python_full_version == "3.12.7"
yarl==1.17.1 ; python_full_version == "3.12.7"
